body {
  font-family: 'Roboto', sans-serif;
}

div.btn-group {
  vertical-align: bottom;
  float: right;
}

div.table-responsive > table.table > tbody > tr > td.photo > img.playerImg {
  height: 20px;
  width: 20px;
}
