body {
  font-family: 'Roboto', sans-serif;
}

td.player > img.playerImg {
  max-height: 150px;
  max-width: 150px;
  margin: 0 auto;
}

td.player > * {
  margin: 0 auto;
}

td.player {

}

.table > tbody > tr > td {
  border: 0px;
}

div.table-responsive#tab-all > table.table > tbody > tr > td.photo > img.playerImg {
  max-height: 40px;
  max-width: 40px;
}



/*div.btn-group.player-dropdown {
  vertical-align: bottom;
  float: right;
}

div.btn-group.player-dropdown::before {
  clear: both;
}

div.btn-group.player-dropdown::after {
  clear: both;
}*/