/*css for fixed navbar left*/

nav.navbar-fixed-left {
    width: 150px;
    height: 100%;
    position: fixed;
    padding: 0;
    border: 0;
    margin: 0;
    z-index: 100;

}


nav.navbar-fixed-left + div.container {
    margin-left: 150px;
    
}

nav.navbar-fixed-left > ul.navbar-nav > li.menu-name {
    float: none;
    display: block;
    height: 50px;
    width: 150px;
    padding: 0;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    
}

nav.navbar-fixed-left > ul.navbar-nav > li.nav-logo {
    float: none;
    display: block;
    height: 50px;
    width: 150px;
    padding: 0;
    border-right: 1px solid black;
}

nav.navbar-fixed-left > ul.navbar-nav > li.menu-name > div.menu-text {
    padding-top: 10px;
    vertical-align: middle;
    text-decoration: none;
    text-align: center;
    font-size: 1.3em;
    
}

nav.navbar-fixed-left > ul.navbar-nav > li.menu-name > div.menu-text > a {
    text-decoration: none;
}

nav.navbar-fixed-left > ul.navbar.nav {
    clear: both;
    position: relative;
}

nav.navbar-fixed-left > ul.navbar-nav > li.menu-name > div.left-menu-main {
    position: absolute;
    width: 600px;
    height: 450px;
    margin-top: -35px;
    margin-left: 150px;
    background-color: #fff;
}

nav.navbar-fixed-left > ul.navbar-nav > li.menu-name > div.left-menu-main > div.left-menu-imgs, div.left-menu-img {
    display: inline-block;
    margin: 10px 7px;
}

/*end of css for left-menu*/