body {
  font-family: 'Roboto', sans-serif;
  background-color: #f8f8f8;
}

.container {
  background-color: #f8f8f8;
}

a:link {
  text-decoration: none;
  color: #98C23B;
}
a:visited {
  color: #3D662C;
}

a:hover {
  color: #3D662C;
}

a:active {
color: #3D662C;
}


.content-wrap > div.banner-space {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 10px auto;
  height: 72px
}

.banner-space * {
  box-sizing: border-box;
  border: 0;
  padding: 0;
  margin: 0 auto;
}


.content-wrap {/*for making footer stick to the bottom*/
  min-height: calc(100vh - 100px)
}

footer.footer {
  background-color: #f0f0f0;
  border: 1px solid #666;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  height: 100px;
}


div.row.horizontal-spacing, div.horizontal-spacing {
  margin: 6px 0;
}

p.see-more-toggle {
  text-align: right;
  color: #4512ff;
}


div.right-column {
  padding-left: 10px;
}

.img-grow {
  overflow: hidden;
}
 

.img-grow img {
  -o-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.img-grow:hover img, .img-grow:focus img {
  -o-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}