div.mega-menu-container {
  margin-bottom: 10px;
}

.navbar-default {
  position: relative;
  background-color: #fff;
  border-bottom: 2px solid black;
}

/*.mega-navbar: hover {
  border-right: 1px solid grey;0c00b2
  border-left: 1px solid grey;

.container {
  background-color: #f8f8f8;
}

}

.mega-menu: hover {
border-right: 1px solid grey;
border-left: 1px solid grey;
}*/

.navbar-default .navbar-nav > li.mega-menu:hover > div.mega-menu-main {
  display: block;
  width: 100%;
  visibility: visible;
  opacity: 1;

}

/*.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
  color: #333;
  background-color: transparent;
}
For reference, this is what must be overwritten in Bootstrap css
*/

.navbar-default .navbar-nav > li.mega-menu > div.mega-menu-main {
  position: absolute;
  width: inherit;
  left: 0;
  top: 50px;
  display: none;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
  z-index: 1;
  background-color: white;
  -webkit-transition: visibility 1s linear 0.3s, opacity 1s linear 0.3s;
  transition:  visibility 1s linear 0.3s, opacity 1s linear 0.3s;
}

.navbar-default .navbar-nav > li.mega-menu {
  position: static;
}

.mega-menu-imgs {
  display: inline-block;
}

div.mega-menu-main > div.mega-menu-imgs > div.mega-menu-img {
  margin: 7.5px 10px;
  /*max-height: 64px;
  max-width: 64px;*/
}

div.mega-menu-list-items {
  display: inline-block;
}

div.mega-menu-list-items > ul > li {/*css for individual links to megamenu links*/
  list-style: none;
  padding: 4px;
  margin: 5px;
}

div.mega-menu-list-items > ul > li > a {/*css for individual links to megamenu links*/
  text-decoration: none;
}


img.nav-brand::before {
  clear: both;
}
img.nav-brand {
  float: left;
}
img.nav-brand:after {
  clear: both;
}

nav.nav.navbar-default > ul.nav.navbar-nav.mega-navbar > li.mega-menu > a {
  font-weight: bold;
  font-size: 1.2em;
}