body {
  font-family: 'Roboto', sans-serif;
}

td.player > div.player-container > img.playerImg {
  height: 20px;
  width: 20px;
}

td.player > div.player-container > a {
  padding-left: 3px;
}

td.player > div.player-container {
  width: 100%;
  margin: 0 auto;
}

div.btn-group {
  vertical-align: bottom;
  float: right;
}
